body {
	font: 1.6rem "Montserrat", sans-serif;
	min-width: 320px;
	font-weight: normal;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	color: #2f2f2f;
	overflow-x: hidden;
}
main {
	display: block;
}
p {
	font-size: 1.6rem;
	line-height: 2.6rem;
}
.video {
	text-align: center;
	background-image: url("../img/video_bg.png");
	background-position: center bottom;
}
.video .video_wrapper {
	margin: 0 auto;
	max-width: 770px;
	position: relative;
}
.video video {
	-webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.video button#videoButton {
	width: 9.6rem;
	height: 9.6rem;
	background-size: 100% 100%;
	background-image: url("../img/video_btn.png");
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.mfp-counter {
	display: none;
}
.dot {
	position: relative;
	z-index: 300;
}
.slick-active .dot {
	
}
.slick-dots {
	bottom: -70px!important;
}
.next, .prev {
	position: absolute;
	width: 70px;
	height: 9px;
	z-index: 300;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.next {
	background-image: url("../img/next.png");
}
.next:hover {
	background-image: url("../img/next_hover.png");
}
.prev {
	background-image: url("../img/prev.png");
}
.prev:hover {
	background-image: url("../img/prev_hover.png");
}
.slider_wrapper {
	position: relative;
}
.slider_wrapper:after, .slider:after {
	content: "";
	display: table;
	clear: both;
}
.open_form .timer {
	margin-top: 2rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.open_form .timer__item {
	display: inline-block;
	font-size: 0;
	width: 10rem;
	height: 10rem;
	background-image: -webkit-linear-gradient(132deg, #ebdde3, #5b299a);
	background-image: -moz-linear-gradient(132deg, #ebdde3, #5b299a);
	background-image: -o-linear-gradient(132deg, #ebdde3, #5b299a);
	background-image: -ms-linear-gradient(132deg, #ebdde3, #5b299a);
	background-image: linear-gradient(132deg, #ebdde3, #5b299a);
	padding-top: 1.5rem;
	text-align: center;
	color: #fff;
}
.open_form .timer__item:last-of-type {
	margin-right: 0;
	background-image: -webkit-linear-gradient(132deg, #55c3dd, #470f8f);
	background-image: -moz-linear-gradient(132deg, #55c3dd, #470f8f);
	background-image: -o-linear-gradient(132deg, #55c3dd, #470f8f);
	background-image: -ms-linear-gradient(132deg, #55c3dd, #470f8f);
	background-image: linear-gradient(132deg, #55c3dd, #470f8f);

}
.open_form .big-numb-time, .timer-text {
	color: #fff;
}
.open_form .big-numb-time {
	font-weight: bold;
	font-size: 3.6rem;
}
.open_form .timer-text {
	font-size: 1.4rem;
	position: relative;
	top: -5px;
}
.relative {
	position: relative;
}
button {
	border: none;
	background: none;
}
button, button:focus, button:hover, input, .thumbnail, .slick-slide, img, ul, li, a, a:focus, a:hover, div, div:focus textarea, textarea:focus {
	outline: none;
	text-decoration: none;
	color: inherit;
}
.politics {
	background-color: #fff;
}
.politics p {
	font-size: 18px;
	color: #000;
}
.politics_text {
	padding: 20px 15px;
}
.politics h3 {
	background: #1782ab;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
	margin: 0;
}
@media only screen and (max-width : 767px) {
	.politics h3 {
		font-size: 23px;
	}
}
section {
	padding: 80px 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
}
section h6 {
	font-weight: bold;
	font-size: 24px;
}
section h4 {
	font-size: 2.4rem;
	line-height: 4.8rem;
	margin-top: 0;
}
section h3 {
	font-size: 2.8rem;
	line-height: 3.8rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 7rem;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	letter-spacing: .05em;
	padding-top: 2rem;
}
section h3:before {
	width: 30px;
	position: absolute;
	content: "";
	height: 5px;
	background-color: #55c2dd;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}
ul {
	list-style-type: none;
	padding: 0;
}
.thanks_body {
	background-image: -webkit-linear-gradient(to bottom right, #ffb206, #6eb016);
	background-image: -moz-linear-gradient(to bottom right, #ffb206, #6eb016);
	background-image: -ms-linear-gradient(to bottom right, #ffb206, #6eb016);
	background-image: linear-gradient(to bottom right, #ffb206, #6eb016);
	background-repeat: no-repeat;
	background-position-x: center;
	margin: 0;
	height: 100%;
	color: #fff;
	display: table;
	width: 100%;
	text-align: center;
}
.thanks_body h4 {
	font-size: 36px;
	margin-top: 0;
}
.thanks_body p {
	font-size: 24px;
	margin-bottom: 0;
}
.thanks_page {
	display: table-cell;
	vertical-align: middle;
}
footer {
	padding-bottom: 20px;
}
footer p {
	color: #919191;
	font-size: 18px;
}
footer span {
	text-decoration: underline;
	color: #2897e5;
	display: block;
	font-size: 18px;
}
footer .row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}
.footer_logo {
	max-width: 100%;
}
.made_by p {
	margin-bottom: 10px;
}
.copyright p {
	margin-top: 10px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
}
.made_by {
	text-align: right;
	padding-top: 20px;
}
.main_btn {
	height: 60px;
	line-height: 60px;
	display: inline-block;
	text-align: center;
	background-image: -webkit-linear-gradient(-39deg, #55c2dd, #9a6ad5);
	background-image: -moz-linear-gradient(-39deg, #55c2dd, #9a6ad5);
	background-image: -o-linear-gradient(-39deg, #55c2dd, #9a6ad5);
	background-image: -ms-linear-gradient(-39deg, #55c2dd, #9a6ad5);
	background-image: linear-gradient(-39deg, #55c2dd, #9a6ad5);
	-webkit-box-shadow: 0 3px 16px rgba(80,17,169,.5);
	-moz-box-shadow: 0 3px 16px rgba(80,17,169,.5);
	box-shadow: 0 3px 16px rgba(80,17,169,.5);
	width: 100%;
	max-width: 370px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.main_btn:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #000;
	color: #fff;
}
.main_btn:focus {
	color: #fff;
}
.form {
	text-align: center;
}
.form_wrapper {
	margin: auto;
	position: relative;
	width: 100%;
	max-width: 370px;
	background-color: rgba(255,247,238,.9);
	padding: 6rem 5rem;
}
.form_wrapper h6 {
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 2.8rem;
	margin: 0 0 1rem 0;
}
.form_wrapper p {
	font-size: 1.6rem;
	line-height: 2.6rem;
	margin-bottom: 2rem;
}
label.error {
	color: red;
}
.form input::-webkit-input-placeholder {
	font-size: 14px;
	color: #2f2f2f;
}
.form input::-moz-placeholder {
	font-size: 14px;
	color: #2f2f2f;
}
.form input:-ms-input-placeholder {
	font-size: 14px;
	color: #2f2f2f;
}
.form input:-moz-placeholder {
	font-size: 14px;
	color: #2f2f2f;
}
.form textarea::-webkit-input-placeholder {
	font-size: 14px;
	color: #2f2f2f;
}
.form textarea::-moz-placeholder {
	font-size: 14px;
	color: #2f2f2f;
}
.form textarea:-ms-input-placeholder {
	font-size: 14px;
	color: #2f2f2f;
}
.form textarea:-moz-placeholder {
	font-size: 14px;
	color: #2f2f2f;
}
.form input, .form textarea {
	width: 100%;
	max-width: 270px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin-top: 15px;
	color: #000;
	border: 0;
	text-align: center;
	height: 60px;
	font-size: 18px;
	border: 1px solid #56c1dd;
}
.form textarea {
	padding-top: 20px;
	height: 120px;
	resize: none;
}
.form button {
	width: 100%;
	max-width: 270px;
	margin-top: 15px;
	height: 60px;
}
header {
	position: relative;
	padding-bottom: 90px;
}
header:before {
	height: 863px;
	content: "";
	position: absolute;
	width: 100%;
	background-image: url("../img/main.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}
header .top_head {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	border-bottom: 1px solid #f3ede6;
	height: 80px;
}
.menu {
	margin: 2.4rem 0 3rem;
	position: absolute;
	right: 15px;
	top: 80px;
}
.menu ul li {
	display: inline-block;
	padding: 0 2.5rem;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	border: solid 1px transparent;
	height: 45px;
	font-size: 14px;
	font-weight: bold;
	line-height: 42px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.menu ul li:hover {
	border: solid 1px #55c2dd;
	color: #55c2dd;
}
.top_btn a {
	height: 50px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	width: 100%;
	max-width: 270px;
	color: #296759;
	border: solid 1px #959595;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	color: #959595;
	font-weight: bold;
	font-size: 14px;
}
.top_btn a:hover {
	background-color: #959595;
	color: #fff;
}
.top_phone {
	text-align: right;
}
.desc {
	font-size: 14px;
	line-height: 20px;
	color: #6c6c6c;
}
.logo img {
	max-width: 188px;
}
h1{
	font-size: 4rem;
	color: #296759;
	line-height: 5.5rem;
	font-weight: bold;
	color: #000;
	margin: 2rem 0 3rem;
}
h2 {
	color: #55c2dd;
	font-size: 2.4rem;
	line-height: 2.8rem;
	font-weight: bold;
	margin: 0 0 4rem 0;
}
.lang {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.lang ul {
	margin: 0;
}
.lang ul li {
	display: inline-block;
	margin: 0 7px;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: solid 1px #a5a5a5;
	color: #a5a5a5;
	
	font-size: 12px;
	line-height: 38px;
	text-align: center;
	
}
.lang ul li.active {
	color: #55c2dd;
	border: solid 1px #55c2dd;
}
.trigger {
	margin: 0;
}
.trigger li {
	position: relative;
	color: #2f2f2f;
	font-size: 1.6rem;
	line-height: 2.8rem;
	margin-bottom: 3rem;
	padding-left: 3.6rem;
}
.trigger li:last-of-type {
	margin-bottom: 0;
}
.trigger li:before {
	position: absolute;
	content: "";
	background-image: url('../img/trigger.png');
	width: 25px;
	height: 25px;
	left: 0;
	top: 0;
}
header .main_btn {
	margin-top: 5rem;
}
.about .img_wrapper {
	position: relative;
}
.about .img_wrapper img {
	position: relative;
	z-index: 1;
	display: block;
}
.about .img_wrapper:before {
	content: "";
	position: absolute;
	width: 100%;
	z-index: 1;
	height: 100%;
	top: 30px;
	background-color: #55c2dd;
}
.about .row:nth-of-type(odd) .img_wrapper:before {
	left: 30px;
}
.about .row:nth-of-type(even) .img_wrapper:before {
	left: -30px;
}
.about .row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 10rem;
}
.about .row:last-of-type {
	margin-bottom: 0;
}
.about .about_text {
	padding-top: 45px;
	position: relative;
	height: 100%;
}
.about h5 {
	color: #fff;
	margin: 0;
	width: 370px;
	height: 150px;
	background-color: #9665d3;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	font-weight: bold;
	font-size: 2rem;
	line-height: 3rem;
	text-transform: uppercase;
	letter-spacing: .05em;
	padding-left: 45px;
	position: relative;
	z-index: 3;
}
.about .row:nth-of-type(odd) h5 {
	left: -100px;
}
.about .row:nth-of-type(even) h5 {
	left: 300px;
	text-align: right;
}
.about p {
	margin: 0;
	position: absolute;
	bottom: -30px;
	left: 0;
}
.about .row:nth-of-type(odd) p {
	padding-left: 30px;
	padding-right: 70px;
}
.about .row:nth-of-type(even) p {
	padding-right: 30px;
}
.about .img_wrapper .digit {
	z-index: 3;
	position: absolute;
	bottom: -35px;
	right: 0;
}
.about .row:nth-of-type(odd) .img_wrapper .digit {
	right: 0;
}
.about .row:nth-of-type(even) .img_wrapper .digit {
	left: 0;
}
.about .row .img_wrapper .girl {
	position: absolute;
	z-index: 0;
}
.about .row:first-of-type .img_wrapper .girl {
	top: -270px;
	left: -225px;
}
.about .row:nth-of-type(2) .img_wrapper .girl {
	top: -310px;
	right: -225px;
}
.about .row:last-of-type .img_wrapper .girl {
	bottom: 0;
	left: -270px;
	right: -225px;
}
.product {
	z-index: 5;
	background-image: url('../img/product_bg.jpg');
}
.product h3 {
	margin: 0;
}
.product h4 {
	font-size: 2rem;
	line-height: 3rem;
	letter-spacing: .05em;
	font-weight: bold;
	text-align: center;
	margin-top: 6rem;
	margin-bottom: 6rem;
	text-transform: uppercase;
}
.product h5 {
	font-size: 1.6rem;
	line-height: 2.6rem;
	font-weight: bold;
	text-align: center;
	margin: 0 0 5rem 0;
}
.product .row:first-of-type .product_wrap {
	height: 420px;
}
.product .product_wrap {
	height: 380px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 330px;
	border: 2px solid #f0f0f0;
	position: relative;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 16px rgba(205,205,205,.5);
	-moz-box-shadow: 0 3px 16px rgba(205,205,205,.5);
	box-shadow: 0 3px 16px rgba(205,205,205,.5);
	margin-bottom: 2rem;
}
.product .product_wrap img {
	/*max-width: 90%;
	max-height: 90%;*/
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.product .colors {
	text-align: center;
}
.product .colors span {
	display: inline-block;
	position: relative;
	margin: 0 4px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.product .colors span.active {
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.4);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,.4);
	box-shadow: 0 0 20px rgba(0,0,0,.4);
}
.product .colors span i {
	position: absolute;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	top: 3px;
	left: 3px;
	border: 1px solid #ddd;
}
.product .colors span.white i {
	background-color: #fff;
}
.product .colors span.red i {
	background-color: #e00808;
}
.product .colors span.black i {
	background-color: #000;
}
.product .quantity {
	font-size: 14px;
	text-align: center;
	margin: 1rem 0;
	font-style: italic;
}
.product .main_btn {
	max-width: 270px;
	margin: 0 auto;
	display: block;
}
.product .row {
	margin-bottom: 7rem;
}
.product .row:last-of-type {
	margin-bottom: 0;
}
.banner {
	padding: 5rem 0;
	margin: 10rem 0;
	z-index: 2;
}
.banner:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 762px;
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	left: 0;
	top: -230px;
}
.banner .main_btn,
.banner input {
	margin-top: 0;
}
.banner h3 {
	font-size: 2.4rem;
	font-weight: normal;
	text-transform: none;
	line-height: 3.4rem;
	color: #fff;
	margin-bottom: 5rem;
}
.banner h3:before {
	display: none;
}
.service {
	z-index: 3;
	background-image: url('../img/service_bg.jpg');
	background-position: center 170px;
}
.service .row {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 8rem;
}
.service .row:last-of-type {
	margin-bottom: 0;
}
.service h4 {
	font-size: 2rem;
	line-height: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin: 0;
}
.service p {
	margin: 5rem 0;
}
.service .img_wrapper {
	position: relative;
}
.service .img_wrapper img {
	position: relative;
	display: block;
}
.service .img_wrapper:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 25px;
	left: 25px;
	background-color: #cfe0fe;
}
.service .img_wrapper:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 100%;
	background-color: #cfe0fe;
	height: 1px;
	width: 100%;
}
.service .row:nth-of-type(2) .img_wrapper:after {
	left: auto;
	right: 100%;
}
.service .row:nth-of-type(2) .img_wrapper:before {
	right: 25px;
	left: auto;
}
.service .row:nth-of-type(2) p {
	padding-right: 100px;
}
.service .img_wrapper .digit {
	position: absolute;
	bottom: -25px;
	left: 55px;
}
.service .row:nth-of-type(2) .img_wrapper .digit {
	left: auto;
	right: 100px;
}
.open_form:before {
	background-image: url("../img/open_form.jpg");
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: -85px;
	background-repeat: no-repeat;
	background-position: 50% 0;
	width: 100%;
	height: 872px;
}
.open_form h3 {
	font-size: 2.8rem;
	line-height: 3.8rem;
	text-align: left;
	letter-spacing: .05em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18rem;
	margin-top: 5rem;
}
.open_form h3 span {
	color: #56c2dd;
}
.open_form h3:before {
	right: auto;
}
.open_form img {
	position: absolute;
	left: 32%;
	z-index: 1;
}
.open_form_left {
	z-index: 2;
}
.open_form .open_form_left p {
	font-size: 3rem;
	line-height: 4rem;
}
.open_form .open_form_left p span {
	font-weight: bold;
	color: #58a493;
}
.open_form .open_form_left p.counter_head {
	color: #2f2f2f;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 2.6rem;
	margin: 0;
}
.step img {
	float: left;
	margin-right: 30px;
	margin-top: 30px;
}
.step:before {
	background-image: url('../img/step_bg.png');
	width: 100%;
	height: 1828px;
	background-repeat: no-repeat;
	background-position: center top;
	left: 0;
	top: -100px;
	content: "";
	position: absolute;
	z-index: -2;
}
.step .row:first-of-type {
	margin-bottom: 5rem;
}
.step p {
	position: relative;
	margin-top: 40px;
}
.step p:before {
	position: absolute;
	content: "";
	height: 210px;
	width: 330px;
	background-color: #fff5e9;
	z-index: -1;
	right: 0;
	top: -30px;
}
.step .popup {
	position: absolute;
	bottom: 0;
	right: 15px;
	max-width: 270px;
}
.contact {
	padding-bottom: 20px;
}
.contact h3 {
	text-align: left;
	margin-bottom: 4rem;
}
.contact h3:before {
	right: auto;
}
.contact p {
	margin-bottom: 2rem;
}
.photo img {
	float: left;
}
.contact .popup {
	max-width: 270px;
}